$primary-color: orange;
$secondary-color: green;
$third-color: blue;
$tertiary-color: #eeeeee;
$primary-font-color: black;
$border-radius: 4px;

body{
    .menu2{
        height:80px;
        background-color: $primary-color;  
    }
    .menu{
        height:80px;
        background-color:$secondary-color;
    }
    main{
        background-color: rgb(0, 255, 0);
        }
    nav{  
        background-color:$secondary-color;
        padding: 10px;
        border-radius: 4px;   
        a{
            width: 33%;
            display: inline-block;
            text-align: center;
            transition: 1s;
        }
        a:hover {
            color:$primary-font-color;
        }
    }
    footer{
        background-color:$third-color;
        padding: 10px;
        border-radius: 4px;
    }
}
